@model PostListViewModel

<div id="colorlib-page">
	<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
	@await Html.PartialAsync("/Views/Shared/Partials/_MenuLeft.cshtml")

	<div id="colorlib-main">
		<section class="ftco-section">
			<div class="container">
				<div class="row px-md-4">
					@if(Model.Posts != null)
					{
						@if(Model.Posts.Count > 0)
						{
							@foreach(Post post in Model.Posts)
							{
								<div class="col-md-12">
									<div class="blog-entry ftco-animate d-md-flex">
										<a href="/post/@post.PostUrl" class="img img-2" style="background-image: url(@post.PostTumbnailImageUrl);"></a>
										<div class="text text-2 pl-md-4">
											<h3 class="mb-2"><a href="/post/@post.PostUrl">@post.Title</a></h3>
											<div class="meta-wrap">
												<p class="meta">
													<span><i class="icon-calendar mr-2"></i> @post.PublishedDate</span>
													<span><a href="/posts/category/@post.Category.Name"><i class="icon-folder-o mr-2"></i> @post.Category.Name</a></span>
													<span><i class="icon-person mr-2"></i> @post.Author</span>

													@*<span><i class="icon-comment2 mr-2"></i>5 Comment</span>*@
												</p>
											</div>
											<p class="mb-4">@post.ShortDescription</p>
											<p><a href="/post/@post.PostUrl" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
										</div>
									</div>
								</div>
							}
						}
						else
						{
							<div class="col-xl-8 py-5 px-md-5">
								<div class="row pt-md-4">
									<div class="alert mt-2 mb-2 mr-2 ml-2 border-left rounded-0 position-relative text-center ml-auto mr-auto" style="width:fit-content; height: fit-content;">
										<strong>Your search didn't match any results in our database.</strong>
									</div>
								</div>
							</div>
						}
					}
					else
					{
						<div class="col-xl-8 py-5 px-md-5">
							<div class="row pt-md-4">
								<div class="alert mt-2 mb-2 mr-2 ml-2 border-left rounded-0 position-relative text-center ml-auto mr-auto" style="width:fit-content; height: fit-content;">
									<strong>Your search didn't match any results in our database.</strong>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</section>
	</div>
</div>

@await Html.PartialAsync("/Views/Shared/Partials/_Loader.cshtml")